<script defer type="module" src="/js/redirect.js"></script>
<div class="row">
<div class="col s4">
<ul class="tabs tab-demo z-depth-1">
    <li class="tab poher"><a href="#main">ОСНОВНЫЕ</a></li>
    {{#if (ownerCheck user 'teacher')}}
    {{else}}
    <li class="tab poher"><a href="#teachers">УЧИТЕЛЯ</a><button data-target='modal3' class="modal-trigger profile-left-side-buttons"></button></li>
    {{/if}}
    <li class="tab poher"><a href="#students">УЧЕНИКИ</a><button class="profile-left-side-buttons"></button></li>
    <li class="tab poher"><a href="#classes">ЗАНЯТИЯ</a><button class="profile-left-side-buttons"></button></li>
    {{#if (ownerCheck user 'teacher')}}
    {{else}}
    <li class="tab poher"><a href="#tests">ТЕСТЫ</a><button class="profile-left-side-buttons new-test_btn"></button></li>
    {{/if}}
    <li class="tab poher"><a href="#settings">НАСТРОЙКИ</a></li>
  </ul>
</div>


<div  class="col s8 right-side-supermain-container" >
  <div id="main" class="tab-wrapper z-depth-1">
    {{> userinfo}}
  </div>
</div>

<div  class="col s8 right-side-supermain-container">

  <div id="teachers" class="tab-wrapper z-depth-1">
    {{#each users}}
      {{#if (ownerCheck this 'teacher')}}
        <div class="tab-wrapper z-depth-1 profile-right-side-areas">
        <p class="profile-right-side-textarea">{{this.first_name}} {{this.last_name}}</p>
        <ul class="profile-right-side-buttons">
          <li><a class="waves-effect waves-light btn-small"><i class="material-icons left"></i>редактировать</a></li>
          <li><a class="waves-effect waves-light btn-small"><i class="material-icons left"></i>заблокировать</a></li>
          <li><a class="waves-effect waves-light btn-small"><i class="material-icons left"></i>удалить</a></li>
        </ul>
      </div>
    {{/if}}
    {{/each}}

  </div>

  <div id="students" class="tab-wrapper z-depth-1"><div>
     {{#each users}}
      {{#if (ownerCheck this 'parent')}}
         <div class="tab-wrapper z-depth-1 profile-right-side-areas">
        <p class="profile-right-side-textarea">{{this.first_name}} {{this.last_name}}</p>
      </div>
      {{/if}}
      {{/each}}
  </div></div>
  <div id="classes"><div class="tab-wrapper z-depth-1">Test 3</div></div>
  {{#if (ownerCheck user 'teacher')}}
  {{else}}
    <div id="tests"><div class="tab-wrapper z-depth-1">
      {{#each tests}}
        {{#if (ownerCheck ../user 'admin')}}
              <div class="tab-wrapper z-depth-1 profile-right-side-areas">
                  <p class="profile-right-side-textarea">Тест№: {{this.id}}, создан: {{this.createdAt}}</p>
              </div>
        {{/if}}
        {{/each}}
    </div></div>
  {{/if}}

  <div id="settings">
    {{!-- Див-пример-начало --}}
      <div class="tab-wrapper z-depth-1 profile-right-side-areas">
        <p class="profile-right-side-textarea">Дополнительный настройки</p>
        <ul class="profile-right-side-buttons">
          <li><a class="waves-effect waves-light btn-small"><i class="material-icons left"></i>редактировать</a></li>
          <li><a class="waves-effect waves-light btn-small"><i class="material-icons left"></i>заблокировать</a></li>
          <li><a class="waves-effect waves-light btn-small"><i class="material-icons left"></i>удалить</a></li>
        </ul>
      </div>
  {{!-- Див-пример-конец --}}
    </div>

  </div>
</div>




<div id='modal3' class='modal modal-fixed-footer'>

  <form class='col s12' method='POST' action='/users/signup'>
    <div class='modal-content'>
      <div class='row'>
        <div class='row'>
          <div class='input-field col s6'>
            <input
              name='first_name'
              id='first_name'
              type='text'
              class='validate'
            />
            <label for='first_name'>Имя Учителя</label>
          </div>
          <div class='input-field col s6'>
            <input
              name='last_name'
              id='last_name'
              type='text'
              class='validate'
            />
            <label for='last_name'>Фамилия Учителя</label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input
              name='password'
              id='password'
              type='password'
              class='validate'
            />
            <label for='password'>Пароль</label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input name='phone' id='phone' type='text' class='validate' />
            <label for='phone'>Номер телефона</label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input name='email' id='email' type='email' class='validate' />
            <label for='email'>Электронный адрес</label>
          </div>
        </div>
        <div>
          <input name='role' id='role' value='teacher' />
        </div>
      </div>
    </div>

    <div class='modal-footer'>
      <button
        type='submit'
        class='modal-close waves-effect waves-green btn-flat'
      >Добавить Учителя</button>
    </div>
  </form>
</div>
